## Klasifikasi Bunga Iris dengan algoritma KNN

### Mengimpor semua dependancy

In [1]:
import pandas as pd, statistics as esteh, math

### Loading dataset

In [2]:
dataSet = pd.read_excel('./Iris.xlsx')
dataSet.head()

,Sepal Length(cm),Sepal Width(cm),Petal Length(cm),Petal Width(cm),Class,Unnamed: 5,Z-Score SL,Z-Score SW,Z-Score PL,Z-Score PW,Unnamed: 10,Euclidean
0,6.6,2.9,4.6,1.3,Iris-versicolor,,0.915940,-0.347930,0.481470,0.141187,NaN,NaN
1,7.2,3.2,6.0,1.8,Iris-virginica,,1.636841,0.335449,1.271932,0.793505,NaN,NaN
2,4.9,2.5,4.5,1.7,Iris-virginica,,-1.126614,-1.259103,0.425009,0.663041,NaN,NaN
3,5.7,4.4,1.5,0.4,Iris-setosa,,-0.165412,3.068965,-1.268838,-1.032986,NaN,NaN
4,6.6,3.0,4.4,1.4,Iris-versicolor,,0.915940,-0.120137,0.368547,0.271650,NaN,NaN

### Dataset Description

In [3]:
dataSet.describe()

,Sepal Length(cm),Sepal Width(cm),Petal Length(cm),Petal Width(cm),Z-Score SL,Z-Score SW,Z-Score PL,Z-Score PW,Unnamed: 10,Euclidean
count,146.000000,146.000000,146.000000,146.000000,1.460000e+02,1.460000e+02,1.460000e+02,1.460000e+02,0.0,0.0
mean,5.837671,3.052740,3.747260,1.191781,4.045470e-16,2.157331e-15,8.668865e-16,-2.007527e-16,NaN,NaN
std,0.832291,0.438995,1.771117,0.766497,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN
min,4.300000,2.000000,1.000000,0.100000,-1.847515e+00,-2.398068e+00,-1.551146e+00,-1.424377e+00,NaN,NaN
25%,5.100000,2.800000,1.525000,0.300000,-8.863136e-01,-5.757235e-01,-1.254723e+00,-1.163449e+00,NaN,NaN
50%,5.800000,3.000000,4.300000,1.300000,-4.526207e-02,-1.201374e-01,3.120854e-01,1.411866e-01,NaN,NaN
75%,6.400000,3.300000,5.100000,1.800000,6.756393e-01,5.632417e-01,7.637778e-01,7.935046e-01,NaN,NaN
max,7.900000,4.400000,6.900000,2.500000,2.477893e+00,3.068965e+00,1.780086e+00,1.706750e+00,NaN,NaN

In [4]:
dataSet.shape

(146, 12)

In [5]:
dataSet.dtypes

Sepal Length(cm)    float64
Sepal Width(cm)     float64
Petal Length(cm)    float64
Petal Width(cm)     float64
Class                object
Unnamed: 5           object
Z-Score SL          float64
Z-Score SW          float64
Z-Score PL          float64
Z-Score PW          float64
Unnamed: 10         float64
Euclidean           float64
dtype: object

In [6]:
averageSepalLength = sum(dataSet['Sepal Length(cm)'])/len(dataSet['Sepal Length(cm)'])
averageSepalWidth = sum(dataSet['Sepal Width(cm)'])/len(dataSet['Sepal Width(cm)'])
averagePetalLength = sum(dataSet['Petal Length(cm)'])/len(dataSet['Petal Length(cm)'])
averagePetalWidth = sum(dataSet['Petal Width(cm)'])/len(dataSet['Petal Width(cm)'])

simpBakuSepalLength = esteh.stdev(dataSet['Sepal Length(cm)'])
simpBakuSepalWidth = esteh.stdev(dataSet['Sepal Width(cm)'])
simpBakuPetalLength = esteh.stdev(dataSet['Petal Length(cm)'])
simpBakuPetalWidth = esteh.stdev(dataSet['Petal Width(cm)'])

### Mencari rata-rata dan simpangan baku dari dataset

In [7]:
print("Avg Sepal Length : " , averageSepalLength)
print("Avg Sepal Width : ", averageSepalWidth)
print("Avg Petal Length : " , averagePetalLength)
print("Avg Petal Width : " , averagePetalWidth)

print("\nSimp. Baku Sepal Length : " , simpBakuSepalLength)
print("Simp. Baku Sepal Width : " , simpBakuSepalWidth)
print("Simp. Baku Petal Length : " , simpBakuPetalLength)
print("Simp. Baku Petal Width : " , simpBakuPetalWidth)

Avg Sepal Length :  5.837671232876712
Avg Sepal Width :  3.0527397260273963
Avg Petal Length :  3.7472602739726013
Avg Petal Width :  1.1917808219178083

Simp. Baku Sepal Length :  0.8322914286481798
Simp. Baku Sepal Width :  0.4389949658778917
Simp. Baku Petal Length :  1.7711167412400046
Simp. Baku Petal Width :  0.766497349057662

### Data Normalization dengan Z-Score

In [8]:
# Mencari Z-Score Normalization
z_score_sepal_length = ((dataSet['Sepal Length(cm)'] - averageSepalLength) / simpBakuSepalLength)
z_score_sepal_width = ((dataSet['Sepal Width(cm)'] - averageSepalWidth) / simpBakuSepalWidth)
z_score_petal_length = ((dataSet['Petal Length(cm)'] - averagePetalLength) / simpBakuPetalLength)
z_score_petal_width = ((dataSet['Petal Width(cm)'] - averagePetalWidth) / simpBakuPetalWidth)

dataSet[""] = " "
dataSet["Z-Score SL"] = z_score_sepal_length
dataSet["Z-Score SW"] = z_score_sepal_width
dataSet["Z-Score PL"] = z_score_petal_length
dataSet["Z-Score PW"] = z_score_petal_width


# dataSet.to_excel("Data Terbaru.xlsx", index=False)

### Input Data Testing

#### Contoh 
Sepal Length : 6,6
Sepal Width : 2,9
Petal Length : 4,6
Petal Width : 1,3

In [9]:
sepalLength = input("Sepal Length : ")
sepalWidth = input("Sepal Width : ")
petalLength = input("Petal Length : ")
petalWidth = input("Petal Width : ")

Sepal Length : 6.6
Sepal Width : 2.9
Petal Length : 4.6
Petal Width : 1.3

## Proses Training Data
### Dilakukan dengan mencari jarak Euclidean dari data train ke data test

In [10]:
train_zscore_SL = ((float(sepalLength) - averageSepalLength) / simpBakuSepalLength)
train_zscore_SW = ((float(sepalWidth) - averageSepalWidth) / simpBakuSepalWidth)
train_zscore_PL = ((float(petalLength) - averagePetalLength) / simpBakuPetalLength)
train_zscore_PW = ((float(petalWidth) - averagePetalWidth) / simpBakuPetalWidth)

euclidean_SL = []
for i in range(0, 146):
    pertama = (dataSet['Z-Score SL'][i] - train_zscore_SL) * (dataSet['Z-Score SL'][i] - train_zscore_SL)
    kedua = (dataSet['Z-Score SW'][i] - train_zscore_SW) * (dataSet['Z-Score SW'][i] - train_zscore_SW)
    ketiga = (dataSet['Z-Score PL'][i] - train_zscore_PL) * (dataSet['Z-Score PL'][i] - train_zscore_PL)
    keempat = (dataSet['Z-Score PW'][i] - train_zscore_PW) * (dataSet['Z-Score PW'][i] - train_zscore_PW)
    euclidean_SL.append(math.sqrt(pertama + kedua + ketiga + keempat))

for i in range(0, 146):  
    dataSet['Euclidean'][i] = euclidean_SL[i]

dataSet = dataSet.sort_values("Euclidean", ascending=True)

C:\Users\ghifa\AppData\Local\Temp\ipykernel_14496\907362554.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['Euclidean'][i] = euclidean_SL[i]

### Ekspor dataset baru yang telah ditambahkan nilai euclidean nya

In [13]:
dataSet.to_excel("Data baru.xlsx", index=False)

### Mengurutkan nilai euclidean berdasarkan jarak tetangga terdekat

In [19]:
dataSetBaru = pd.read_excel("./Data baru.xlsx")
print("\nNilai K\t: 12")
print("Maka didapatkan 12 tetangga terdekat\n")
for i in range(0, 12):
    print(dataSetBaru['Class'][i])

versicolor = ["Iris-versicolor" , 0]
setosa = ["Iris-setosa" , 0]
virginica = ["Iris-virginica" , 0]

for i in range(0, 12):
    if dataSetBaru['Class'][i] == "Iris-versicolor":
        versicolor[1] = versicolor[1] + 1
    elif dataSetBaru['Class'][i] == "Iris-setosa":
        setosa[1] = setosa[1] + 1
    elif dataSetBaru['Class'][i] == "Iris-virginica":
        virginica[1] = virginica[1] + 1

Nilai K	: 12
Maka didapatkan 12 tetangga terdekat

Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-virginica
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor

### Hasil Klasifikasi

In [20]:
print("\nIris-versicolor\t: " , versicolor[1])
print("Iris-virginica\t: " , virginica[1])
print("Iris-setosa\t: " , setosa[1])

print("\nMaka data dengan attribute")
print("Sepal Length\t: " , sepalLength , "\nSepal Width\t: " , sepalWidth, "\nPetal Length\t: " , petalLength , "\nPetal Width\t: " , petalWidth)

nilaiMaks = max(virginica[1], setosa[1], versicolor[1])
golongan = ""
if nilaiMaks == virginica[1]:
    golongan = virginica[0]
elif nilaiMaks == setosa[1]:
    golongan = setosa[0]
elif nilaiMaks == versicolor[1]:
    golongan = versicolor[0]

print("Tergolong kedalam Class", golongan)

Iris-versicolor	:  11
Iris-virginica	:  1
Iris-setosa	:  0

Maka data dengan attribute
Sepal Length	:  6.6
Sepal Width	:  2.9
Petal Length	:  4.6
Petal Width	:  1.3
Tergolong kedalam Class Iris-versicolor